#menu{
    display: flex;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    background-color:#488000; 
    overflow:overlay;
}

#menu #menuGreen .principal
{
    padding: 0px 10px 0px 10px;
    color: white;
    border-right: 1px solid white;
    text-decoration: none;
    height: 35px;
    width: 880px;
    background-color: #488000;
    
    
}

#menu #menuGreen a:hover{ /*hover funciona para hacer cambio de tamano o agregar q haga cosas donde se posiciona el mouse*/
    font-size:large;
    font-weight: bold;
   
 }

 #menu #menuGreen a.last{
    border-right: 0px;
 
 }
